// ============================================================================
//
// CARD
//
// ============================================================================
// =============================================================================
// Definition
// =============================================================================
%card {
  @include flexbox() {
    align-items: center;
    justify-content: space-around;

    @include breakpoint(tablet) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  background-color: $white;
  border-radius: 1em;
  width: 80%;
  height: 6em;
  padding: 1em;

  @include breakpoint(tablet) {
    width: auto;
    height: 19em;
  }

  &:hover {
    transition: $transition;
    transform: scale(1.1);
    box-shadow: $box-shadow;
  }

  &__avatar {
    @include flexbox() {
      align-items: center;
    }
    margin: 0;
    
    img {
      margin-right: 16px;
      border: 5px solid $gray-5;
      border-radius: 50%;
      width: 3.5em;
      height: 3.5em;
    }

    &__description {
      @include flexbox() {
        flex-direction: column;
        align-items: flex-start;
      }
      & > h6 {
        @include fw($w_bold);
        margin: 0px;
      }
      & > p {
        @include fs($s_small * 1.2);
        color: $gray-30;
        margin: 0px;
      }
    }
  }

  &__info {
    div:last-child {
      @include fs(12px);
      color: $gray-40;
    }
  }

  &__phases {
    @include flexbox() {
      align-items: center;
      justify-content: center;

      @include breakpoint(tablet) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    width: 40%;
    height: 56px;
    border: 1px solid $gray-5;
    border-radius: .5em;
    padding: 0 1em;

    @include breakpoint(tablet) {
      // @include debug();
      width: 80%;
      height: auto;
      padding: 1em 0;
    }

    &__btn-add {
      @include flexbox() {
        align-items: center;
        justify-content: center;
      }
      border: 2px solid $gray-5;
      border-style: dotted;
      border-radius: .5em;
      width: 2em;
      height: 2em;
      margin-right: .5em;
      
      cursor: pointer;

      @include breakpoint(tablet) {
        margin-bottom: .5em;
      }

      // Lo suyo es sacar un componente angular al que le pases un color y un porcentaje
      // y ponerlo tres veces aquí. No repetir este bloque de código.
      // TODO, Refactorizar
      &:nth-child(1) {
        color: $blue-10;
      }
      &:nth-child(2) {
        color: $purple-30;
      }
      &:nth-child(3) {
        color: $yellow-50;
      }

      &:after {
        content: '+';
      }
    }

    &__progressbar-container {
      @include flexbox() {
        justify-content: space-between;
        align-items: center;
      }      
      width: 50%;
      height: 2em;
      border-radius: .5em;
      margin-right: .5em;

      @include breakpoint(tablet) {
        margin-bottom: .5em;
      }

      &:before {
        @include fw($w_bold);
        @include fs(.8em);
        content: '';
        position: absolute;
        margin-left: 5px;
        color: $white;
      }
      &:after {
        @include fw($w_bold);
        @include fs(.8em);
        content: '';
        float: right;
        margin-right: 5px;
      }
    
      &--blue {
        border: 1px solid rgba(27, 202, 255, 0.2);
        background-color: rgba(27, 202, 255, 0.2);
        &:before {
          content: '01';
        }
        &:after {
          content: '50%';
          color: rgba(27, 202, 255, 1);
        }
      }
      &--purple {
        border: 1px solid rgba(92, 93, 255, 0.2);
        background-color: rgba(92, 93, 255, 0.2);
        &:before {
          content: '02';
        }
        &:after {
          content: '25%';
          color: rgba(92, 93, 255, 1);
        }
      }
      &--yellow {
        border: 1px solid rgba(232, 188, 0, 0.2);
        background-color: rgba(232, 188, 0, 0.2);
        &:before {
          content: '03';
        }
        &:after {
          content: '30%';
          color: rgba(232, 188, 0, 1);
        }
      }

      &__bar {
        height: 2em;
        border-radius: .5em;
        &--blue {
          width: 50%;
          animation: progress-bar-50 4s linear;
          background-color: $blue-10;
        }
        &--purple {
          width: 25%;
          animation: progress-bar-25 4s linear;
          background-color: $purple-30;
        }
        &--yellow {
          width: 30%;
          animation: progress-bar-30 4s linear;
          background-color: $yellow-50;
        }
      }
    }

  }

  &__action-bar {
    @include flexbox() {
      justify-content: space-between;
    }
    width: $s_normal * 7;
    
    &__action {
      @include flexbox() {
        align-items: center;
        justify-content: center;
      }
      width: 2em;
      height: 2em;
      border-radius: 50%;
      cursor: pointer;

      &--disabled {
        pointer-events: none;
        opacity: .5;
      }

      &:hover {
        background-color: $black;
        transition: all .6s ease-out;
        transform: scale(1.2);

        img {
          filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(116deg) brightness(111%) contrast(100%);
        }
      }
    }
  }
}

// =============================================================================
// Interface - CARD
// =============================================================================
app-card {
  @extend %card;
  .avatar {
    @extend %card__avatar;
  }
  .description {
    @extend %card__avatar__description;
  }
  .info {
    @extend %card__info;
  }
  .phases {
    @extend %card__phases;
  }
  .btn-add {
    @extend %card__phases__btn-add;
  }
  .progressbar-container {
    @extend %card__phases__progressbar-container;
    &--blue {
      @extend %card__phases__progressbar-container--blue;
    }
    &--purple {
      @extend %card__phases__progressbar-container--purple;
    }
    &--yellow {
      @extend %card__phases__progressbar-container--yellow;
    }
  }
  .bar {
    @extend %card__phases__progressbar-container__bar;
    &--blue {
      @extend %card__phases__progressbar-container__bar--blue;
    }
    &--purple {
      @extend %card__phases__progressbar-container__bar--purple;
    }
    &--yellow {
      @extend %card__phases__progressbar-container__bar--yellow;
    }
  }
  .action-bar {
    @extend %card__action-bar;
  }
  .action {
    @extend %card__action-bar__action;
    &--disabled {
      @extend %card__action-bar__action--disabled;
    }
  }
}
